.col-left{
	width: 60%;
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	text-decoration: none;
}

.col-right{
	width: 40%;
	float: right;
	padding-left: 5%;
	padding-right: 5%;
	text-decoration: none;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.resize {
  width:200px;
  height:150px;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

header {
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  color:white;
}
p {
  margin: 0;
  font-size: 1.5rem;
  color : white;
  text-align: justify;
}
.container2 {
  position: relative;
  width: 50%;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container2:hover .image {
  opacity: 0.3;
}

.container2:hover .middle {
  opacity: 1;
}

html {
  background: linear-gradient(
	 rgba(0, 0, 0, 0.5),
	 rgba(0, 0, 0, 0.5)
  ),url(http://getwallpapers.com/wallpaper/full/1/b/9/755058-amazing-shirohige-wallpapers-1920x1080-smartphone.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
